/* Basic Font Style */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */

.text-primary,
.description-title {
  color: #0d1321;
}

.text-center {
  text-align: center;
}

.secondary-bg {
  background-color: #fff8f3;
}

.dark-2 {
  color: #0d1321;
}

.btn-primary {
  background-color: #0d1321;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

a:link {
  text-decoration: none;
}

.btn-secondary {
  background-color: #ffffff;
  font-weight: 600;
  padding: 12px 20px;
  color: #0d1321;
  border: 1px solid #0d1321;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #0d1321;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header Style */

.header {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 998px;
  padding: 26px 221px 45px 221px;
}

.header-title {
  font-size: 48px;
  font-weight: 800;
}
.header-description {
  margin-bottom: 32px;
}

/* Style Development Section */

.development {
  background-color: rgb(13, 19, 33, 0.02);
  margin-top: 74px;
}

.container {
  padding: 80px 97px;
}

.dev-container-1 {
  max-width: 852px;
  margin: 0 auto;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  max-width: 850px;
  margin: 24px auto;
}

.dev-content {
  background-color: #ffffff;
}

.development-title {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}

.dev-content-title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(13, 19, 33, 0.7);
}

/* My Inpiration Section Styles */

.inspiration-content {
  max-width: 852px;
  margin: 0px auto 48px;
}

.inspiration-title {
  font-size: 32px;
  font-weight: bold;
  color: #0d1321;
}

.inspiration-description {
  font-size: 16px;
  color: #0d1321;
  font-weight: 400;
}

.inspiration-video iframe {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}

/*My  Current Target Styles  */
.my-current-target {
  margin-top: 150px;
}

.current-title {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}

.current-description,
.card-description {
  font-size: 16px;
  color: #0d1321;
  font-weight: 400;
}

.current-content {
  max-width: 852px;
  margin: 0px auto 48px;
}

.current-card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.current-card {
  padding: 40px;
}

.current-card a {
  color: #0d1321;
}

.card-title {
  font-size: 24px;
  font-weight: 800;
  color: #0d1321;
}
