/* Basic Font Style */

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Shared Style */

html {
  scroll-behavior: smooth;
}

.text-primary,
.description-title {
  color: #0d1321;
}

.text-center {
  text-align: center;
}

.secondary-bg {
  background-color: #fff8f3;
}

.dark-2 {
  color: #0d1321;
}

.btn-primary {
  background-color: #0d1321;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 21px 24px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.header a:link {
  text-decoration: none;
}

.btn-secondary {
  background-color: #ffffff;
  font-weight: 600;
  font-size: 20px;
  padding: 12px 20px;
  color: #0d1321;
  border: 1px solid #0d1321;
}

.section-title {
  font-size: 32px;
  font-weight: bold;
  color: #0d1321;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

/* Header Style */

.header {
  background-image: url(../assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}

.header-container {
  max-width: 998px;
  padding: 26px 221px 45px 221px;
}

.header-title {
  font-size: 48px;
  font-weight: 800;
}
.header-description {
  margin-bottom: 32px;
}

/* Style Development Section */

.development-section {
  background-color: rgb(13, 19, 33, 0.02);
  border-radius: 16px;
  margin-top: 74px;
}

.container {
  padding: 80px 97px;
}

.dev-container-1 {
  max-width: 852px;
  margin: 0 auto;
}

.container-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 98px;
  max-width: 850px;
  margin: 24px auto;
}

.dev-content {
  background-color: #ffffff;
  padding: 58px 48px;
  border-radius: 16px;
}

.development-title {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}

.dev-content-title {
  font-size: 24px;
  font-weight: bold;
  color: rgba(13, 19, 33, 0.7);
}

/* My Inpiration Section Styles */

.inspiration-content {
  max-width: 852px;
  margin: 0px auto 48px;
}

.inspiration-title {
  font-size: 32px;
  font-weight: bold;
  color: #0d1321;
}

.inspiration-description {
  font-size: 16px;
  color: #0d1321;
  font-weight: 400;
}

.video-container {
  padding: 32px;
  border-radius: 16px;
  box-shadow: 1px 1px 5px rgba(13, 19, 33, 0.2);
}

.inspiration-video iframe {
  display: block;
  margin: 0 auto;
  border-radius: 16px;
}

/*My  Current Target Styles  */
.my-current-target {
  margin-top: 150px;
}

.current-title {
  font-size: 32px;
  font-weight: 800;
  color: #0d1321;
}

.current-description,
.card-description {
  font-size: 16px;
  color: #0d1321;
  font-weight: 400;
}

.current-content {
  max-width: 852px;
  margin: 0px auto 48px;
}

.current-card-container {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.current-card {
  padding: 40px;
  border-radius: 16px;
}

.current-card-bg-1 {
  background-color: rgba(255, 75, 30, 0.05);
}
.current-card-bg-2 {
  background-color: rgba(0, 77, 232, 0.05);
}

.current-card-bg-3 {
  background-color: rgba(255, 221, 0, 0.05);
}

.current-card a {
  color: #0d1321;
}

.card-title {
  font-size: 24px;
  font-weight: 800;
  color: #0d1321;
}

/* Next Target Container Styles */
.my-next-target {
  margin-top: 110px;
}

.next-target-content {
  max-width: 852px;
  margin: 0 auto;
}

.next-target-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 40px;
  margin-top: 12px;
  border-radius: 16px;
  border: 1px solid rgba(13, 19, 33, 0.2);
}

.next-target-card-title {
  font-size: 24px;
  font-weight: 800;
  color: #0d1321;
}

.next-target-card-container a {
  color: #0d1321;
}

/* support section styles */

.support {
  background-image: linear-gradient(rgba(13, 19, 33, 0.2), rgba(13, 19, 33, 1)),
    url(../assets/handshake.jpg);
  border-radius: 16px;
  background-position: center center;
  margin-bottom: 80px;
  margin-top: 49px;
}

.support-content {
  max-width: 730px;
  margin: 0 auto;
}

.support-container {
  padding: 64px 48px;
}

.support-title {
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}

.support-description {
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
}

input[type="text"] {
  padding: 19px 20px;
  width: 548px;
  border-radius: 8px;
  border: none;
}

input[type="submit"] {
  padding: 17px 20px;
  border-radius: 8px;
  border: none;
  color: #0d1321;
  font-weight: 600;
  font-size: 20px;
}

/* Footer-section-style */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 150px;
  background-color: rgba(13, 19, 33, 0.02);
}

.footer-description {
  font-size: 20px;
  font-weight: 600;
  color: #0d1321;
}
